@import "tailwindcss";
/* Primary (Text & Highlights): #1A1A1A (Dark Gray)
Background: #F5F5F5 (Soft Light Gray)
Accent (Buttons & Hover Effects): #FF4F00 (Bold Orange)
Secondary Text: #707070 (Medium Gray)
Borders & Dividers: #DADADA (Light Gray) */

/* --------------------------------------- */

:root {
  --primary-text: #1a1a1a;
  --background: #f5f5f5;
  --accent: #ff4f00;
  --secondary-text: #707070;
  --borders: #dadada;
}


html,
body {
  margin: 0;
  padding: 0;
  background: black;
}